@model WardrobeMVC.Models.Outfit

@{
    ViewBag.Title = "Delete";
}

<h2>Remove</h2>

<h3>Are you sure you want to remove this outfit from your closet?</h3>
<div>
   
    <hr />

    <div class="container" id="deletePhoto">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="@Url.Content(Model.Top.TopPhoto)" id="outfitDetailsGrid" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="@Url.Content(Model.Accessory.AccessoryPhoto)" id="outfitDetailsGrid" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="@Url.Content(Model.Bottom.BottomPhoto)" id="outfitDetailsGrid" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="@Url.Content(Model.Footwear.FootwearPhoto)" id="outfitDetailsGrid" />
            </div>
        </div>
    </div>
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
