@model WardrobeMVC.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.BottomName)</h2>

<div>
    <h4>Details</h4>
    <hr />
    <div class="container" id="detailsBlurb">
        <div class="row">
            <img src="@Url.Content(Model.BottomPhoto)" />
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.Type)
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.Occasion.Occasion1)
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.Season.Season1)
        </div>
    </div>
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.Occasion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.Occasion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.Season1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.Season1)
        </dd>

    </dl>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
