@model IEnumerable<WardrobeMVC.Models.Footwear>

@{
    ViewBag.Title = "Index";
}

<h2>My Footwear</h2>

<p>
    @Html.ActionLink("Add new footwear to your closet", "Create")
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="WardrobeIndex">

            <img src="@Url.Content(item.FootwearPhoto)" />
            <h5>
                @Html.ActionLink("Edit", "Edit", new { id = item.FootwearID }) |
                @Html.ActionLink("See Details", "Details", new { id = item.FootwearID }) |
                @Html.ActionLink("Remove from closet", "Delete", new { id = item.FootwearID })
            </h5>
        </div>
    }
</div>
