@model WardrobeMVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.TopName)</h2>

<div>
    <h4>Details</h4>
    <hr />
    <div class="container" id="detailsBlurb">
        <div class="row">
            <img src="@Url.Content(Model.TopPhoto)" />
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.Type)
           
            
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.Occasion.Occasion1)
        </div>        
        <div class="row">
            @Html.DisplayFor(model => model.Season.Season1)
        </div>
    </div>
    <dl class="dl-horizontal">

        <dd>
            <img src="@Url.Content(Model.TopPhoto)" />
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Occasion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.Occasion1)
        </dd>

        <dt>
            Season
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.Season1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
