@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>My Tops</h2>

<p>
    @Html.ActionLink("Add a new top to your closet", "Create")
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="WardrobeIndex">
            @*<h3>@Html.DisplayFor(modelItem=>item.TopName)</h3>*@
            <img src="@Url.Content(item.TopPhoto)"/>
            <h5>@Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
            @Html.ActionLink("See Details", "Details", new { id = item.TopID }) |
            @Html.ActionLink("Remove from closet", "Delete", new { id = item.TopID })</h5>
        </div>
    }
</div>
