@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>My Tops</h2>

<p>
    @Html.ActionLink("Add a top to your closet", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.TopName)*@
            Top
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TopPhoto)*@
           
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Type)*@
            Description
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Occasion.Occasion1)*@
            Occasion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Season.Season1)*@
            Season
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TopPhoto)*@
            <img src="@Url.Content(item.TopPhoto)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.Occasion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.Season1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopID }) |
            @Html.ActionLink("See Details", "Details", new { id=item.TopID }) |
            @Html.ActionLink("Remove from closet", "Delete", new { id=item.TopID })
        </td>
    </tr>
}

</table>
