@model IEnumerable<WardrobeMVC.Models.Accessory>

@{
    ViewBag.Title = "My Accessories";
}

<h2>My Accessories</h2>

<p>
    @Html.ActionLink("Add a new accessory to your closet", "Create")
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="WardrobeIndex">
            @*<h3>@Html.DisplayFor(modelItem=>item.TopName)</h3>*@
            <img src="@Url.Content(item.AccessoryPhoto)" />
            <h5>
                @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }) |
            @Html.ActionLink("See Details", "Details", new { id = item.AccessoryID }) |
            @Html.ActionLink("Remove from closet", "Delete", new { id = item.AccessoryID })
        </h5>
    </div>
    }
</div>
